<section class="real-app">
    <input type="text"
           class="add-input"
           autofocus="autofocus"
           placeholder="接下来要做什么?"
            (keyup.enter)="addTodo($event)"
          
    >
    <ion-list no-lines>
       
        <ion-item *ngFor="let todo of filterTodos">
            <button ion-item (click)="buttonClick()">
                Button Item
              </button>
        <ion-label>{{todo.content}}</ion-label>
    
        <ion-checkbox [(ngModel)]="todo.completed"></ion-checkbox>
      </ion-item>
    </ion-list>
    <!-- <app-items *ngFor= 'let todo of filterTodos' 
    [todo]='todo' 
    (onDel)="handleDel($event)" >
    </app-items> -->
    <!-- <app-tabs 
    [todos] = todos
    [filter] = filter
    (onToggle) = "toggle($event)"
    (OnclearAllCompleted) = "clearAllCompleted($event)"
    >
  
  </app-tabs> -->
  </section>
  <!-- <div [ngClass] = "{'todo-item':true ,'completed':todo.completed}">
    <input type="checkbox"
           class="toggle"
           [(ngModel)]="todo.completed"
    >
    <label>{{todo.content}}</label>
    <button class="destroy" (click)="deleteTodoItem(todo.id)" ></button>
  </div> -->
