<section class="real-app">
    <input type="text"
           class="add-input"
           autofocus="autofocus"
           placeholder="接下来要做什么?"
            (keyup.enter)="addTodo($event)"
          
    >
   
    <!-- <app-items *ngFor= 'let todo of filterTodos' 
    [todo]='todo' 
    (onDel)="handleDel($event)" >
    </app-items> -->
    <!-- <app-tabs 
    [todos] = todos
    [filter] = filter
    (onToggle) = "toggle($event)"
    (OnclearAllCompleted) = "clearAllCompleted($event)"
    >
  
  </app-tabs> -->
  </section>
<h1>hello world</h1>